<nav class="navbar bg-white navbar-expand-lg">
  <div class="container-fluid">
    <a class="nav-item" href="/">
      <img src="/static/logo.png" alt="Logo" width="45" height="45" class="d-inline-block">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      
      <!-- Centered nav links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/projectaboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projectquiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projectpage">Shelters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Reviews</a>
        </li>
      </ul>

      <!-- Right-aligned login/logout -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/myprofile">{{ current_user.gname }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>  