<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar bg-info navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projectaboutus.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projectpage.html">Placeholder page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projectquiz.html">Quiz</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h2>
        Please answer these questions: 
      </h2>
      <form name="infoQs" id="infoQs" action="volunteer.html" method="get" enctype="multipart/form-data">
      <label for="question">What is your name? </label>
      <input type="person" id="question" name="quest" placeholder = "Please respond here">
      <br>
      <br>
      <label for="sport">If you could, which homeless shelter would you volunteer at?</label>
      <select item="sports" name="sport" value="sport">
        <option value="here">Click here</option>
        <option value="Covenant-House">Covenant House</option>
        <option value="CityTeam">CityTeam</option>
        <option value="cob-on-wood">Cob On Wood</option>
        <option value="friendly-manor">A Friendly Manor</option>
        <option value="ACHCFTH">Alameda County Health Care for the Homeless</option>
        <option value="Serenity House">Serenity House</option>
      </select>
      <br>
      <br>
      <label for="which">Would you take an evening shift or a morning shift? </label>
      <br>
      <input type="radio" id="evening" name="meet" value="E">
      <label for="evening">Yes</label>
      <br>
      <input type="radio" id="morning" name="meet" value="M">
      <label for="no">Morning</label>
      <br>
      <input type="radio" id="none" name="meet" value="N">
      <label for="none">None</label>
      <br>
      <br>
      <label for="name">Lastly, how would you want to volunteer? Would you like to cook for people living there, or do something else?</label>
      <input type="eman" id="answer"  name="name1" placeholder = "Type here">
      <br>
      <br>
      <input type="submit" value="Submit">
      </form>
      <br>
      <a href="index.html"><button>
        Home 
        </button></a>
</body>
</html>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>