<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<div class="container-fluid bg-subtle bg-opacity-10">
    <body>
        <nav class="navbar bg-info navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/projectpage">Shelters</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/projectquiz">Quiz</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <center><u><i><h1>About the Website</h1></i></u></center>

          <br>

          <div class="container text-center">
            <div class="col-12 bg-subtle bg-opacity-10 border border-dark border-opacity-20">
              <h4 class="text">We created this website in hopes to spread awareness of homelessness and to also help people find out and understand the different homeless shelters that the city of Oakland provides. We chose to create a website on this issue because it's more common to see someone houseless in the Bay Area than a lot of other places, and therefore it has impacted us and our feelings as we've all seen it throughout our lives.  </h4>
            </div>
          </div>

        <br>
        <center><i><u><h1>Meet The Team</h1></u></i></center>

          <div class="container mt-5 text-center bg-subtle bg-opacity-10">
            <div class="row">
              <div class="col-4 border border-dark">
                <img src= "https://chat.google.com/u/3/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEWAoqTBibSDkYyGEF9rA%2B7H1sNYZIAx4YKZApo%2B0NQGKeGFE6Q3GaXy%2BI4vlBgl%2BfOJfjG5XSimd4%2BLvLOxr980jupPJ7ZoyWFtcbbmakXCwD%2BMIzOIpft1R9PxwplIWGCb5B4kGUDcgFOSN0gUrmafMy0vPtVlnX%2Bo1n6fMQmhqHSyxivKv1TeNhLkK7WQJB8jvM53M7dN4dsDymo%2Fy%2BfUvSem1hdbjHgRgl9IIDlSeus5mgyH1yx6anEi1%2FvzpI4LwCWhyjt2AV7E6fdS0YtR1kEWWANVYiRyfX0MnEmxSI1XrOOVuj6kUQtenIha84VHJIBSzs0zUuJDL4lZ0pbmO2mlB7VsL%2Bc463WEARnJQFj0UGo%2FzetMY7MEhypQBVL15ZJL9KHmy%2FlIBA0H%2BoWZWfckAPXrnBFZNcOwbhkqv%2BaK4rgr9avVALo1QehTwbnGO1JeN%2B%2FpLvPrMmleoBwJ3Lv6J%2FDxXeoNMXlXHBRk60nq5EYzM1oajU4VoxvAeypmUyAHTch%2FGuhA3JgS3Rnf1mYjlFZ5cXDT6TUc%2BO9R%2Ftq%2BrSJ%2F6W7yT1IIfveQ85aBtfNwI6JLutEW%2FHD486ozUiAIH1oSc6M%3D&allow_caching=true&authuser=3&sz=w1920-h911&auditContext=forDisplay" width="350" height="350">
                <h2 class="text">Mike Tunamal</h2>
                <small class="text">My name is Mike and I am a senior at Oakland Tech. I'll be attending Cal Poly Slo in the Fall in which I will major in Electrial Engineering. My hobbies are playing basketball and soccer. I also enjoy doomscrolling and gambling for my sources of dopamine.</small>
              </div>
              <div class="col-4 border border-dark">
                <img src="https://chat.google.com/u/3/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEU5umLXGomdRCBZaFMrBOy8U8t4y79m6Lx27Ce8WMUDn1pt%2Bq8HooQ5owLN8H3UJqYUhHgMqHoHHWvhSwOdvTMteMwp4vaktgv5QrtOVqaj8pN9jEyctv5j8MttkSCbZISOH%2F1F%2FvtI3GYR73c8u03NXjjUDXtCgUft2dIIDblBTMpRZG6AinOQ5zQ7vYvYsnVu%2FEzg8VHM4ncywEw7MYuqsjZA65WJHEpmNkPLUnqVpp2h%2FAD3i7txXdgywDurf8eYhbxm7stfrYK5DTHdi%2FnP%2BZSoPON7lvk3iTlbACB2R6YiAQQ6bdKgape%2FOcl9WfYUhKqrGqrVW4ZdIC6bqJkKenbwATnaTY%2Bjfk5vcK%2BBUdnM7z30jRUxZpc0J5ogYfXQpv3eamPzFEFqXN3eYVAcZfQQWT65ih4Ytrbu5WW7OxYcQis2MxgxZ8UqmaZ9yuLejo42rTQhWMLHDBneLu9IDUEp%2Bp7ZVgyYsFItTHkgZQRccKiQCzElB51XirLVEwb46xjYvitPg2pKWle3b0IvRgujLgokqSzj57G3Z9YwfUlKvuaau%2F6wv3gxuzxPHPwA0poe%2B0Ob%2BwCFb9m5%2BA31kQXCk6gpGPQ%3D&allow_caching=true&authuser=3&sz=w1920-h911&auditContext=forDisplay" width="350" height="350">
                <h2 class="text">Lone Way Htoo</h2>
                <small class="text">My name is Lone and I am a senior at Oakland Tech. I will commit to San Jose State University this fall majoring in Chemical Engineering. My hobbies are long walks and <s>gambling</s> exploring high-risk investments. In my free time I will destroy opponents in League of Legends or Clash Royale. </small>
              </div>
              <div class="col-4 border border-dark">
                <img src="https://chat.google.com/u/3/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEWzwFvreAG9u1XlCVeUQP25jB92MkQ8sGVa0fFaGK%2FfC9vMtyuAtoEbWgZFlomCbpQM%2FyzPN5pO%2FOudntTSIVZeVQliaU%2FPULfEKDAkVNNVZyjACTaZJpShHU8zScsd3yqe7AWxzpk%2F1ILliVGfCGPp%2FpfSNEtuXBsl7bXN3dnOByprANlWWlOu57exDJzBSnVK%2BWjXmWIGsDMJEEJDsMP0uORVP7nrEiw%2BCHn8rZElanUndwWqZMO%2BLMR3JhYuiQ0jO5Rud0fZkmS33k8wiugFZGsxVzJAf9VkSUwP4zs7mWl0HjoVOd7%2Bss%2FPwCQUj6YtNCcFwtFMQwZJ06YpZcTcvLHydl2Zc%2FCVrips1xYMJtr8%2F0RxByEkrZINkBfEr6u%2FILTKjxakChx803TpLZ75XJrrRRtcywgMrPKbzMZ78iczFp5KC3fKPwTikL59oKtO%2FIqunfP3P4ga1qen6qIulmL%2FrGRd%2BqGGOh843Gr0hr51xPS%2BK8qkt%2F0kt5xRJj4rQd218JqD1M5nR1WF1Yr28Kyl6JSRUiZ9QRfGn4LhoEM62uwBB13LCcpm1qHNoUt6e%2FxmwgsKgRt%2F3KjDeN6OHCBFW7%2FzmzM%3D&allow_caching=true&authuser=3&sz=w1920-h911" width="350" height="350">
                <h2 class="text">Michael Arikew</h2>
                <small class="text">My name is Michael and I'm  senior at Oakland Techincal High and will be attending at UC Davis during the fall to major in Artifical Intelligence. During my free time, I play soccer and mostly hanging  out with my friends and I also do enjoy hiking and reading books. </small>
              </div> 
              <br>
            </div>
          </div>
          
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</div>
</html>
